<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/user/img/icon.png}">
    <!-- Css Styles -->
    <div th:insert="~{/user/general::cssStyle}"></div>
</head>
<body>
<header class="header" th:fragment="header">
    <div class="header__top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-light-info">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> dongntph09224@gmail.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="header__top__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    <div class="header__top__right__language">
                        <img th:src="@{/user/img/language.png}" alt="">
                        <div>English</div>
                        <span class="arrow_carrot-down"></span>
                        <ul>
                            <li><a href="#">Spanis</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img th:src="@{/user/img/logo.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a th:href="@{/home}">Home</a></li>
                        <li><a th:href="@{/shop}">Shop</a></li>
                        <li><a th:href="@{/shop-details}">Details</a></li>
                        <li th:if="${loginedUser != null}"><a th:href="@{/cart}">Cart</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                        <li th:if="${loginedUser == null}"><a th:href="@{/register}">Register</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3" th:if="${loginedUser != null}">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a th:href="@{/cart}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <!-- Login modal-->
    <div th:insert="~{/user/account/login::modalLoginForm}"></div>

</header>

<div class="container">
    <br>
    <p class="text-center">
        Join with us on facebook! <a
            href="https://www.facebook.com/nguyenthanhdong0710"> DongPoppa board games shop </a>
    </p>
    <hr>
    <div class="alert alert-success" role="alert" th:if="${messSucc != null}" th:text="${messSucc}">
    </div>
    <div class="alert alert-danger" role="alert" th:if="${messFail != null}" th:text="${messFail}">
    </div>
    <div style=" background: #F3F6FA;">
        <article class="card-body mx-auto col-sm-6" style="min-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <form th:action="@{/register}" method="post"
                  enctype='multipart/form-data' th:object="${user}" >
                <!-- Name -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
							<span class="input-group-text">&nbsp;<i class="fa fa-user"></i>&nbsp;
							</span>
                    </div>
                    <input name="userName" class="form-control" placeholder="Full name"
                           type="text" th:value="*{getUserName()}" >
                </div>
                <!-- Email -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
							<span class="input-group-text"> &nbsp;<i class="fa fa-envelope"></i>
							</span>
                    </div>
                    <input name="email" class="form-control"
                           placeholder="Email address" type="email" th:value="*{getEmail()}" >
                </div>
                <!-- Phone -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
							<span class="input-group-text"> &nbsp;<i class="fa fa-phone"></i>&nbsp;
							</span>
                    </div>
                    <input name="phone" class="form-control"
                           placeholder="Phone number" type="text" th:value="*{getPhone()}" >
                </div>
                <!-- Pass -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
							<span class="input-group-text"> &nbsp;<i class="fa fa-lock">&nbsp;</i>&nbsp;
							</span>
                    </div>
                    <input name="password" class="form-control"
                           placeholder="Create password" id="pass1" type="password" th:value="*{getPassword()}" >
                </div>
                <!-- Pass CF -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
							<span class="input-group-text"> &nbsp;<i class="fa fa-lock">&nbsp;</i>&nbsp;
							</span>
                    </div>
                    <input class="form-control" placeholder="Repeat password"
                           id="pass2" type="password" name="passwordConfirm">
                </div>
                <!-- Get address -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-address-card"></i></i>&nbsp;
							</span>
                    </div>
                        <textarea class="form-control" rows="3" name="address" placeholder="Address" required></textarea>
                </div>
                <!-- Get avatar -->
                <div class="form-group input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" accept="image/*" name="ava">
                        <label name="avatar"  class="custom-file-label" for="customFile" style="overflow: hidden" th:text="*{getAvatar()}" >Choose your avatar</label>
                    </div>
                </div><br>
                <!-- Register -->
<div class="text-center"> <button type="submit" class="site-btn">REGISTER</button></div>
                <!-- Login -->
                <p class="text-center">
                    <br> Have an account? <a
                        th:href="@{/home/login}">Log In</a>
                </p>
            </form>
        </article>
    </div>
    <!-- card.// -->
</div>
<!--container end.//-->
<hr>
<br>
<footer th:insert="~{/user/general::footer}"></footer>

<div th:insert="~{/user/general::jsPlugins}"></div>

</body>
</html>