<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin | Games</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/admin/assets/images/favicon.png}">
    <!-- CSS Style -->
    <div th:insert="~{/admin/general::cssStyle}"></div>
</head>

<body>

<div th:insert="~{/admin/general::preloader}"></div>

<div id="main-wrapper">
    <header th:insert="~{/admin/general::header}"></header>

    <aside th:insert="~{/admin/general::aside}"></aside>

    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">All game</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">All game</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col"></th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col" class="text-center">Price</th>
                                        <th scope="col" class="text-center">Quantity</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="game : ${games}">
                                        <form th:action="@{/admin/quickupdate/{id}(id=${game.getId()})}" method="post">
                                            <td th:text="${game.getId()}"></td>
                                            <td><img style="width: 70px; height: 70px"
                                                     th:src="@{/user/img/games/{gameImg}(gameImg=${game.getImage()})}"/>
                                            </td>
                                            <td th:text="${game.getName()}"></td>
                                            <td><input name="price" class="form-control"
                                                       placeholder="price" type="number" min="1" step="any"
                                                       th:value="${game.price}"></td>
                                            <td><input name="quantity" class="form-control"
                                                       placeholder="quantity" type="number" min="0"
                                                       th:value="${game.quantity}"></td>
                                            <td class="text-center">
                                                <a class="btn btn-sm btn-dark" th:if="${isDelete == null}"
                                                   th:href="@{/admin/updategame/{id}(id=${game.getId()})}">
                                                    <i class="fas fa-caret-down "></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-primary" type="submit" th:if="${isDelete == null}" >
                                                    <i class="fas fa-sync-alt"></i>
                                                </button>
                                                <a class="btn btn-sm btn-cyan" type="submit" th:if="${isDelete != null}"
                                                   th:href="@{/admin/restore/{id}(id=${game.getId()})}">
                                                    <i class="fas fa-sync-alt"></i>
                                                </a>
                                            </td>
                                        </form>
                                        &ensp;<form th:action="@{/admin/deletegame/{id}(id=${game.getId()})}"
                                                    method="post">
                                        <td class="text-left">
                                            <button class="btn btn-sm btn-danger" type="submit" th:if="${isDelete == null}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </form>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="~{/admin/general::footer}"></footer>
    </div>
</div>
<!-- JS Plugins -->
<div th:insert="~{/admin/general::jsPlugins}"></div>

</body>

</html>