<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Style -->
    <div th:insert="~{/admin/general::cssStyle}"></div>
</head>

<body>
<div th:insert="~{/admin/general::preloader}"></div>
<div id="main-wrapper">
    <header th:insert="~{/admin/general::header}"></header>
    <aside th:insert="~{/admin/general::aside}"></aside>

    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h3 class="page-title">Add game</h3>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="alert alert-success" role="alert" th:if="${messSucc != null}" th:text="${messSucc}">
            </div>
            <div class="alert alert-danger" role="alert" th:if="${messFail != null}" th:text="${messFail}">
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <div class="card">
                        <form class="form-horizontal" enctype='multipart/form-data' th:action="@{/admin/addgame}" method="post" th:fragment="gameForm">
                            <div class="card-body" th:fragment="gameForm">
                                <div class="form-group row">
                                    <!--         <i class="mdi mdi-24px mdi-pound"></i>
                                             <div class="col-md-2">
                                                 <input type="text" class="form-control"
                                                        placeholder="104" disabled>
                                             </div>
                                             &emsp;&emsp;-->
                                    <i class="mdi mdi-24px mdi-gamepad-variant"></i>
                                    <div class="col-md">
                                        <input type="text" class="form-control" name="name" required
                                               placeholder="game's name">
                                    </div>
                                    &emsp;&emsp;
                                    <i class="mdi mdi-24px mdi-garage"></i>
                                    <div class="col-md">
                                        <input type="text" class="form-control" placeholder="Publisher" name="publisher"  >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <i class="mdi mdi-24px mdi-account-switch"></i>
                                    <div class="col-md">
                                        <input  type="number" min="0" step="1" class="form-control" placeholder="min" name="minPlayer"  >
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">Player</b>
                                    &emsp; <i class="mdi mdi-24px mdi-chevron-right"></i>&emsp;
                                    <div class="col-md">
                                        <input  type="number" min="0" step="1"  class="form-control" placeholder="max" name="maxPlayer"  >
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">Player</b>
                                    &emsp;&emsp;
                                    <i class="mdi mdi-24px mdi-account-star"></i>
                                    <div class="col-md">
                                        <input  type="number" min="0" step="1"  class="form-control" placeholder="best quantity" name="bestPlayerQuantity"  >
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">Player</b>
                                </div>
                                <div class="form-group row">
                                    <i class="mdi mdi-24px mdi-timer-sand"></i>
                                    <div class="col-md">
                                        <input  class="form-control"
                                                placeholder="from"  type="number" min="0" step="1" name="timeToPlayFrom"  >
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">Mins&nbsp;&nbsp;</b>
                                    &emsp; <i class="mdi mdi-24px mdi-chevron-right"></i>&emsp;
                                    <div class="col-md">
                                        <input  class="form-control"  type="number" min="0" step="1" name="timeToPlayTo"
                                                placeholder="to">
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">Mins&nbsp;&nbsp;</b>
                                    &emsp;&emsp;
                                    <i class="mdi mdi-24px mdi-baby"></i>
                                    <div class="col-md">
                                        <input  class="form-control"  type="number" min="0" step="1" placeholder="age limited" name="ageLimited">
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">Above</b>

                                </div>
                                <div class="form-group row">
                                    <i class="mdi mdi-24px mdi-tag-multiple"></i>
                                    <div class="col-md">
                                        <select class="select2 form-control m-t-15" multiple="multiple" name="categoriesFMS"
                                                style="height: 36px;width: 100%;" >
                                            <optgroup label="Choose game categories">
                                                <option th:each="category : ${categories}">
                                                    <span  th:text="${category.getName()}"></span>
                                                </option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <i class="mdi mdi-24px mdi-script"></i>
                                    <div class="col-md">
                                        <textarea class="form-control" rows="10" name="rules" placeholder="rules" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <i class="mdi mdi-24px mdi-buffer"></i>
                                    <div class="col-sm">
                                        <input class="form-control" type="number" min="0" step="1" name="quantity" required
                                               placeholder="quantity">
                                    </div>
                                    &emsp;&emsp;
                                    <i class="mdi mdi-24px mdi-cash-multiple"></i>
                                    <div class="col-sm">
                                        <input type="number" class="form-control" min="0" step="any" name="price" required
                                               placeholder="price">
                                    </div><b class="d-flex align-items-center" style="color: darkgrey">$</b>
                                </div>

                                <div class="form-group row">
                                    <i class="mdi mdi-24px mdi-image"></i>
                                    <div class="col-md">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="img" accept="image/*" required>
                                            <label class="custom-file-label" style="overflow: hidden">Choose
                                                file...</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary ">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <footer th:insert="~{/admin/general::footer}"></footer>
    </div>
</div>

<!-- JS Plugins -->
<div th:insert="~{/admin/general::jsPluginsForForm}"></div>
<div th:insert="~{/admin/general::jsPlugins}"></div>


</body>

</html>